@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  @include font-smoothing;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 0;
}

h1 {
  font-size: 1.75em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
h4, h5, h6 {
  font-size: 1em;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section {
  margin-bottom: 30px;
}

small {
  font-size: 0.75em;
}

.no-padding{
  padding: 0;
}

.slick-arrow {
  outline: none;
  background: none;
  border: none;
  position: absolute;
  top: 50%;
  z-index: 15;
}

.pagination {
  a {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  
  :first-child a, :last-child a {
    color: $brand-primary !important;
    border-radius: 4px !important;
  }
}
