.especificacoes {
  color: $gray;
  
  .select-version, h2 {
    color: $brand-primary;
  }
  
  h3 {
    margin: 0;
    padding: 20px 12px;
    background-color: #f0f0f0;
  }
  
  .lista-acessorios div{
    margin: 0 0 0 20px;
  }

  .lista-acessorios ul{
    overflow: hidden;
  }

  .lista-acessorios li{
    float: left;
    margin-left: 20px;
    width: calc( 100% / 3 - 22px);
  }

  .version_list{
    margin: 8px 0 0;

    border: solid rgba(0, 0, 0, .2);
    border-width: 0 0 1px 0;

    padding: 0;
  }

  .version_list .version_item{
    margin: 0 0 15px 20px;

    display: inline-block;
    vertical-align: middle;
  }

  .version_list .version_item label{
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  .version_list .version_item input{
    display: none;
  }

  .version_list .version_item i{
    display: inline-block;
    vertical-align: middle;

    width: 16px;
    height: 16px;

    border: 1px solid #bcbcbc;
    border-radius: 5px;

    background: linear-gradient(#fdfdfd, #e4e4e4);
    background: -webkit-linear-gradient(#fdfdfd, #e4e4e4);
    background: -moz-linear-gradient(#fdfdfd, #e4e4e4);
    background: -ms-linear-gradient(#fdfdfd, #e4e4e4);
    background: -o-linear-gradient(#fdfdfd, #e4e4e4);
  }

  .version_list .version_item i::before{
    content: "";

    display: block;
    width: 10px;
    height: 10px;

    margin: 2px;

    border-radius: 3px;

    background: #666;

    transition: .3s;
    opacity: 0;
  }
  .version_list .version_item :checked+i::before{
    opacity: 1;
  }
  .version_list .version_item span{
    color: $gray-darker;
    display: inline-block;
    vertical-align: middle;

    margin: 0 0 0 10px;

    font-size: 13px;
    font-weight: 700;
  }

  .feature_list{
    margin: 18px 0 0;

    width: 100%;
  }

  .feature_list > .title .feature_title .title_item{
    min-height: 14px;
    margin: 0 0 18px;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
  }

  .feature_list .feature{
    height: 27px;
  }

  .feature_list > * ul{
    border-top: 1px solid #ddd;
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .feature_list > * ul:first-of-type{
    border-top: 0px; 
  }

  .feature_list > * ul li{
    width: 25%;
    display: inline-block;
    vertical-align: middle;
  }

  .feature_list > .title .feature_title .title_item{
    text-align: center;
  }

  .feature_list > .title .feature_title .title_item:first-of-type{
    margin: 0 0 30px 20%;
  }

  .feature_list .feature_item .feature_value .value_item{
    font-size: 14px;
    text-align: center;

    height: auto;
    line-height: 34px;
  }

  .feature_list .feature_item .feature_value .value_item.title{
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
    padding: 14px 10px;
    width: 20%;
  }

  .feature-list-mobile, .models-open-mobile{
    display: none;
  }

  .feature-list-mobile li{
    border-bottom: 1px solid #ccc;
    height: auto;
    list-style-type: none;
    padding: 10px 0 10px 0;
    text-align: center;
  }

  .feature-list-mobile li strong{
    text-transform: uppercase;
  }

  .feature-list-mobile .model-name{
    line-height: 50px;
  }
  
  @media (max-width: $screen-md-max) {
    .feature_list, .models-open{
      display: none;
    }

    .feature-list-mobile, .models-open-mobile{
      display: block;
    }
    
    .feature-list-mobile .feature_item .feature_value .value_item{
      display: block !important;
    }
      
    .feature-list-mobile li{
      height: 60px;
    }

    .feature-list-mobile .model-name strong{
      font-size: 23px;
    }
  }
  
  @media (max-width: $screen-xs-max) {
    .lista-acessorios li{
      float: none;
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }

    .feature-list-mobile li{
      height: 70px;
    }

    .feature-list-mobile .model-name strong{
      font-size: 20px;
    }
  }
  
}