<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12">
        <h2>
          <small>Sobre a</small>
          <span class="big">Granvia</span>
        </h2>
        <div class="conteudo">
          <p>Granvia, a mais nova concessionária Ford do Grupo Viasul. Seguindo padrões elevados de qualidade e a filosofia promissora de um dos grupos automobilísticos mais sólido de Pernambuco, a nova concessionária pretende ampliar o leque de produtos e fortalecer ainda mais o Grupo que já é referência em prestação de serviços e atendimento de qualidade.</p>
          <p>O Grupo Viasul conta atualmete com duas concessionárias ViaSul Fiat em Recife e uma em Fortaleza. Eurovia Nissan, Eurovia Renault e Eurovia Seminovos(presentes em Recife, Salvador e Fortaleza) também fazem parte deste respeitado grupo. Além da Intervia, uma das maiores revendedoras de automóveis e utilitários da marca Kia presente em Recife. Todas, lideres em vendas, buscando sempre oferecer o melhor atendimento, o mais completo estoque e a garantia de excelência em cada serviço prestado. Só quem tem a confiança de um líder de mercado pode oferecer tantas vantagens e exclusividades aos seus clientes.</p>
        </div>
      </div>
    </div>
  </div>
</div>