{% for slickMode in ['for', 'nav'] %}
<ul class="{{ slickMode == 'nav' ? 'slick-car-detail' : 'slick-detail-sync' }}">
  {% for g in usado.gallery %}
  <li>
    <img data-lazy="{{ g.file }}" alt="" {% if title is not null %} title="{{ title }}" {% endif %} class="img-responsive">
  </li>
  {% endfor %}
</ul>
{% endfor %}
