<div id="conceptual-3-module">
  <div class="">
    <div class="conceptual-background" {% if not mobile %} style="background-image: url(../assets/images/{{ img }})" {% endif %}>
      <div class="title">
        <div class="container">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>