<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    {% for page in 2..7 %}
    <li><a href="#">{{ page }}</a></li>
    {% endfor %}
    <li>
      <a href="#" aria-label="Next">
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</nav>
