<form action="" id="quote-form" class="highlight-form">
  <h2 class="form-header">Solicite cotação</h2>
  <div class="form-group icon-container">
    <label for="name">Seu nome</label>
    <i class="fa fa-user"></i>
    <input placeholder="Nome" class="form-control" id="name" name="name">
  </div>
  <div class="form-group icon-container">
    <label for="phone">Telefone</label>
    <i class="fa fa-phone"></i>
    <input placeholder="Telefone" class="form-control" id="phone" name="phone" type="phone">
  </div>
  <div class="form-group icon-container">
    <label for="email">Email</label>
    <i class="fa fa-envelope"></i>
    <input placeholder="E-mail" class="form-control" id="email" name="email" type="email">
  </div>
  <div class="row">
    <div class="col-lg-5">
      <div class="form-group icon-container">
        <label for="state">Estado</label>
        <i class="fa fa-map-marker"></i>
        <select name="uf" class="form-control" id="state">
          <option value="">UF</option>
        </select>
      </div>
    </div>
    <div class="col-lg-7">
      <div class="form-group icon-container">
        <label for="city">Cidade</label>
        <i class="fa fa-map-marker"></i>
        <input placeholder="Cidade" class="form-control" id="city" name="city">
      </div>
    </div>
  </div>
  <div class="form-group icon-container">
    <label for="model">Escolha o modelo</label>
    <i class="fa fa-car"></i>
    <select name="model" class="form-control" id="model">
      <option value="">Selecione o modelo</option>
    </select>
  </div>
  <div class="form-group">
    <label for="message">Mensagem</label>
    <textarea name="message" id="message" class="form-control"></textarea>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">Solicitar cotação</button>
  </div>
</form>
