<div id="schedule-2-module" class="schedule-granvia">
  <div class="schedule">
    <div class="row">
      <div class="time col-xs-12 col-sm-5 col-md-5">
        <i class="fa fa-clock-o"></i>
        <h2 class="title-float-icon">Horário de Funcionamento</h2>
      </div>
      <div class="time col-xs-12 col-sm-4 col-md-4">
        <h3>Imbiribeira</h3>
        <h4>Agendamento de Serviços</h4>
        <time>
          Segunda, quarta, quinta e sexta:<wbr> 7:30h&nbsp;às&nbsp;17:30h <br>
          Terça: 8:00h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
      </div>
      <div class="time col-xs-12 col-sm-3 col-md-3">
        <h3>Caxangá</h3>
        <h4>Agendamento de Serviços</h4>
        <time>
          Segunda a sexta: 7:30h&nbsp;às&nbsp;17:30h <br>
          Sábado: 8:00h&nbsp;às&nbsp;12:00h
        </time>
      </div>
    </div>
  </div>
</div>