<div id="workshop-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-lg-8">
        {% include 'workshop-info.html' %}
        {% include 'info-box-2.html' %}
        {% include 'info-box-3.html' %}
      </div>
      <div class="col-lg-4">
        {% include 'workshop-form.html' %}
      </div>
    </div>
  </div>
</div>