<div class="workshop-info">
  <h2>
    <small>Ford</small>
    <span class="big">Assistance</span>
  </h2>
  <p>O Ford Assistance é um exclusivo serviço de assistência 24 horas dentro do território nacional e países do Mercosul, incluindo remoção gratuita para o veículo que apresentar pane mecânica, elétrica ou colisão. Este serviço é oferecido pela Central de Atendimento Ford, que pode ser acionado 24 horas por dia, todos os dias da semana. O ford Assistance começa no momento da aquisição do produto.</p>
  <h2>
    <small>Revisão</small>
    <span class="big">Preço Fixo</span>
  </h2>
  <p>Revisão de 6 a 36 meses para toda a linha Ford, com mão de obra inclusa e a verificação de mais de 60 itens, como fluídos, pneus, freios, filtros, velas, suspensão e sistema elétrico, além de troca dos itens previstos no manual do proprietário.</p>
  <h2>
    <small>Serviço Total</small>
    <span class="big">Ford</span>
  </h2>
  <p>Ao levar seu Ford para a Granvia para verificar serviços em garantia, revisões periódicas e manutenções, você encontra uma equipe especializada que vai atendê-lo com rapidez e cordialidade, além de avaliar o carro em detalhes.</p>
  <h2>
    <small>Box</small>
    <span class="big">Rápido</span>
  </h2>
  <p>A Granvia disponibiliza uma série de serviços úteis para seus clientes. Com agilidade e dinamismo, você perde pouco tempo e ser carro volta melhor. Confira os serviços disponíveis e entre em contato.</p>
</div>