{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
{% set title = '<small>Ofertas Ford</small> <br> <big>Granvia</big> <br> Aproveite as Melhores ofertas <br> da ford agora mesmo.' %}
{% set img = 'conceptual-ofertas.png' %}

{% include 'shared/offers-structure.html' %}

{% include 'shared/load-css.html' with {'css': 'offers.css'} %}
{% endblock %}