@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/interna-style";

#cars-list-structure-module{
  .car-category{
    margin: 15px 0;
    overflow: hidden;
    h2{
      border-bottom: 1px solid #ddd;
      color: #4c4c4c;
      font-weight: 700;
      padding: 5px;
    }
    .car figcaption{
      color: #4c4c4c;
    }    
  }
}